[data-identifier="tag-game-card-contents"]:not(:has(.tag-game-card-contents)) {
  display: none;
}

/* custom css */
/*https://steelkiwi.medium.com/vertical-centering-until-the-block-reaches-specified-height-ea2e985f461*/
.vwrap-parent {
  /* We need next two lines it to avoid
    a line break if the content wrapper becomes wider
    than the parent block */
  white-space: nowrap;
  overflow: hidden;
}
/* Magic! */
.vwrap-parent:after {
  content: "";
  width: 0;
  height: 2.75rem; /* this is the height */
  display: inline-block;
  vertical-align: middle;
}
.vwrap-parent .vertical-wrap {
  white-space: normal; /* Allow line breaks inside the content wrapper */
  display: inline-block;
  vertical-align: middle;
}

/*https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable*/
.disable-h-scrollbar::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-h-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* react-image-lightbox */
.ril-caption-content {
  width: 100%;
}

/* transparent tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/** Filepond customizations */
.filepond--item {
  width: calc(50% - 0.5em);
}

.filepond--panel-root {
  background-color: white !important;
}

@media (prefers-color-scheme: dark) {
  /* the background color of the filepond drop area */
  .filepond--panel-root {
    background-color: rgb(28 28 30) !important;
  }
  .filepond--drop-label {
    color: white !important;
  }
}

.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-top {
  background-position: top;
}
.bg-contain {
  background-size: contain;
}
.rounded {
  border-radius: 0.25rem;
}
.items-start {
  align-items: flex-start;
}
.cursor-pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.px-2 {
  padding-left: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
  &--highlighted {
    color: yellow;
  }
}

.game-tag-card {
  font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  position: relative;
  background-color: rgba(23, 23, 23, var(--tw-bg-opacity));
  padding: 0.75rem;
  padding-top: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &__image {
    width: 9rem;
    height: 9rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: 0.25rem;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
  }

  &__title {
    max-height: 16rem;
    overflow: hidden;
    padding-bottom: 0.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: rgba(229, 231, 235) !important;
    @media (min-width: 768px) {
      max-height: 3rem;
      line-height: 1.5rem;
    }
    @media (min-width: 1024px) {
      max-height: 3.5rem;
    }
    @media (min-width: 1280px) {
      font-size: 1.25rem;
    }
    a {
      text-decoration: none;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-width: 18rem;
  }

  &__divisor {
    display: flex;
    box-sizing: border-box;
    border-top: 3px solid #e5e7eb;
    justify-content: space-between;
    padding-top: 0.25rem;
    font-size: 0.75rem;
    letter-spacing: -0.025em;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(229, 231, 235);
  }

  &__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    svg {
      height: 1em;
      overflow: visible;
      vertical-align: -0.125em;
      color: #d1d5db;
      margin-right: 0.25rem;
    }
  }

  &__player-count {
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.125rem;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    &--recommended {
      background-color: rgba(22, 163, 74);
    }
    &--best {
      background-color: rgba(20, 83, 45);
    }
  }
}
