.custom-container {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.custom-col {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .text-custom {
    font-size: 1rem;
    line-height: 1.5rem;
    &--highlighted {
      color: var(--gold);
    }
  }
}

.game-tag-card {
  position: relative;
  padding: 0.75rem;
  padding-top: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &__image {
    width: 9rem;
    height: 9rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: 0.25rem;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
  }

  &__title {
    max-height: 16rem;
    overflow: hidden;
    padding-bottom: 0.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: var(--primary-rgb) !important;
    @media (min-width: 768px) {
      max-height: 3rem;
      line-height: 1.5rem;
    }
    @media (min-width: 1024px) {
      max-height: 3.5rem;
    }
    @media (min-width: 1280px) {
      font-size: 1.25rem;
    }
    a {
      text-decoration: none;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-width: 18rem;
  }

  &__divisor {
    display: flex;
    box-sizing: border-box;
    border-top: 3px solid var(--primary-700);
    justify-content: space-between;
    padding-top: 0.25rem;
    font-size: 0.75rem;
    letter-spacing: -0.025em;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--primary-700);
  }

  &__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    svg {
      height: 1em;
      overflow: visible;
      vertical-align: -0.125em;
      color: var(--primary-rgb);
      margin-right: 0.25rem;
    }
  }

  &__player-count {
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.125rem;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: white;
    &--recommended {
      background-color: rgba(20, 83, 45);
    }
    &--best {
      background-color: rgba(22, 163, 74);
    }
  }
}
